body {
    font-family: Arial;
    margin: 0;
    background-color: #f2f2f2;
}

.header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

.menu {
    background-color: #555;
    text-align: center;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: inline-block;
}

.menu a:hover {
    background-color: #222;
}

.content {
    background-color: white;
    margin: 15px;
    padding: 15px;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
.profile-img {
    width: 140px;
    height: 180px;
    border-radius: 10px;   /* passport-style look */
    margin-bottom: 10px;
}


/* Simple Responsive */
@media screen and (max-width: 600px) {
    .menu a {
        display: block;
    }
}
